<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>Lyft Mobile</title>
</head>
<body class="bg-image">
	<header>
	  <img class="small" src="../assets/images/logo_blanco.png" alt="logo-lyft">
	</header>
	<div class="row">
    <img class="logo-pink" src="../assets/images/logo_lyftpink.png" alt="lyft-lyfe">
      </div>
			  <div class="col-xs-12">
				  <div class="buttons-register container-flex-buttons">
					  <a href="login.html" type="button" class="btn btn-success" id="login">LOG IN</a>
					  <a href="signup.html" type="button" class="btn btn-success" id="signup">SIGN UP</a>	
				  </div>	
			  </div>
		  </div>
	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../js/register.js"></script>
</body>
</html>