<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/directory/css/chosen.css">
  <link rel="stylesheet" href="../vendors/directory/css/ImageSelect.css">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	
	<title>Sign Up</title>
</head>
<body class="grad1">
  <header>
    <!--Boton para retroceder una vista-->
	  <div class="slide-buttons container-flex-row">
		  <a href="register.html" type="button" class="btn btn-success">
			  <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
		  </a>
    </div>
  </header>
  <main>
	  <form class="container-flex-column text-center">
      <section class="row col-xs-12">
        <h1 class="title">Sign up</h1>
        <h4>Join now for free ride credit</h4>
        <hr>
        <br>
        <!--Select desplegable de paises-->
		    <select class="my-select col-xs-4-offset-xs-1">
          <option data-img-src="../vendors/directory/images/logo_mexico.png">México</option>
          <option data-img-src="../vendors/directory/images/logo_colombia.png">Colombia</option>
          <option selected= "selected" data-img-src="../vendors/directory/images/peru_icon.png">Perú</option>
          <option data-img-src="../vendors/directory/images/usa_icon.png">EEUU</option>
		    </select>
        <!--Input de numero telefonico-->
        <div col-xs-6>
          <input class="telep" type="tel" name="telefono" pattern="[0-9]{10}" maxlength="10" placeholder="52" required>
        </div>
        <br>
        <h5>We'll send a text to verify your phone</h5>
        <br>
        <!--Boton submit-->
        <button type="submit" id="signup" class="btn btn-success" disabled> NEXT </button>
      </section>
    </form>
  
	<script src="../vendors/directory/js/chosen.jquery.js" type="text/javascript"></script>
	<script src="../vendors/directory/js/ImageSelect.jquery.js" type="text/javascript"></script>
  <script src="../vendors/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="../js/signup.js" type="text/javascript"></script>
	<script>
		$(".my-select").chosen();
	</script>  
</body>
</html>